name: PR

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
      - reopened
      - closed

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'labeled'
    steps:
      - uses: actions/checkout@v3
      - id: files
        uses: tj-actions/changed-files@v29.0.7
      - name: print changed file
        run: echo ${{ steps.files.outputs.all_modified_files }}
      - name: build
        run: echo 'build code'
      - name: deploy
        run: echo 'deploy'
  comments:
    runs-on: ubuntu-latest
    if: github.event.action == 'labeled' || github.event.action == 'unlabeled' || github.event.action == 'closed'
    steps:
      - name: add comment
        if : contains(github.event.pull_request.labels.*.name, 'help-wanted')
        run: echo "Comment added"
  undeploy:
    runs-on: ubuntu-latest
    steps:
      - name: undeploy
        if : contains(github.event.pull_request.labels.*.name, 'help-wanted') != true || github.event.action == 'closed'
        run: echo "undeploy"
